.image {
    position: relative;
} 
  .about-image {
    background-image: url("../../assets/images/about.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/images/about.jpg");
    background-color: #cccccc;
    /* height: 50em; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:table;
    width:100%;
    background-position:center top;
    height:350px;
  }
  .about-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
/* .text-left{
  float: left;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.text-right{
  float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  
} */
/* .text-both{
  float: unset;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
} */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color:  #bdeea3;
}

.flex-container .box {
  background-color: #caf7a5;
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}