.image {
    position: relative;
} 
  .clients-image {
    background-image: url("../../assets/images/clients.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/images/clients.jpg");
    background-color: #cccccc;
    /* height: 50em; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:table;
    width:100%;
    background-position:center top;
    height:350px;
  }
  .clients-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F9F2D8;
  }
