
body
{
    background-color: 	#b8b8af;
}

.navbar {
    background-color: #F9F2D8 !important;
}

/* fixes size of images */
.image {
    position: relative;
}

/* form in contacts */
.form-group
{
    width: 50%;
}

/* footer */
#footer-main {
    background-color: #fcfc7e;
}

.footer-copyright {
    background-color: #f6ff54;
}



