
body
{
    background-color: #fcfc7e;
}


/* navar */
.navbar {
    background-color: #F9F2D8 !important;
    padding-bottom: 0%;
}

.nav-link
{
    margin: 0 1.2em;
    padding-bottom: 0.8em;
    border-bottom: 0.3em solid #F9F2D8;

    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;  

    transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}

.navbar-brand
{
    font-family: 'Playfair Display', serif;
}

.nav-link:hover{
    border-bottom: 0.3em solid #b8bdff;
}

/* fixes size of images */
.image {
    position: relative;
}

/* form in contacts */
.form-group
{
    width: 50%;
}

/* footer */
#footer-main {
    background-color: #b8b8af;
}

.footer-copyright {
    background-color: #acacac;
}

/* Bottom right text */
.text-block {
    position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}